#sidebar
	.social
		= link_to "http://www.facebook.com/pages/S-D-ODonnell/251731921625102" do
			= image_tag "facebook.png"
		= link_to "http://www.facebook.com/pages/S-D-ODonnell/251731921625102" do
			= image_tag "goodreads.png"
	= image_tag "DeadlyMemories.png", id: "deadly-memories"
	= link_to "#" do
		.button Buy Now
	= render "modals/mailing_list_signup"
