= simple_form_for @event do |f|
	%h3 Event Description
	- @event.heading ||= ""
	%p= "Hey mom you can add italics with <i>I will be italisized</i> and bold like <b>I am a bold statment</b>"
	%p Any HTML tags will work including images and links if you need them you should be a google search away like html tag for hyperlink
	%p= "I built a system where all breaks will be persisted so if you hit enter it will create an html <br /> tag"
	= f.text_area :heading, value: @event.heading.gsub("<br />", "\n")
	= f.input :date, as: :date
	%br
	- if @event.created_at
		= f.submit "Update Event"
	- else
		= f.submit "Create Event"
